$primary-color: #007bff; // Change this to the desired shade of blue

a {
  color: $primary-color;
}

a:hover {
  color: darken($primary-color, 15%);
}

nav a {
  color: $primary-color;
}

nav a:hover {
  color: darken($primary-color, 15%);
}

nav .site-title {
  color: $primary-color;
}

nav .site-title:hover {
  color: darken($primary-color, 15%);
}

.pagination .previous a,
.pagination .next a {
  color: $primary-color;
}

.pagination .previous a:hover,
.pagination .next a:hover {
  color: darken($primary-color, 15%);
}
